<%= @list.name %><br/>
<%= @list.description %>

<% unless @beers.empty? %>
  <ul>
    <% @beers.each do |beer| %>
      <li><%= beer.name %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Find new beers!", beers_path %>
